body{
    background-color: #b2c9c9;
  }
  /* Estilo personalizado para ajustar la altura del navbar */
  .navbar-custom {
    height: 80px; /* Puedes ajustar este valor según tus preferencias */
  }
  .navbar-brand {
    font-family: 'Roboto', sans-serif; /* Aplica la fuente de Google Fonts al título del navbar */
    font-size: 24px; /* Ajusta el tamaño del texto según tus preferencias */
    font-weight: 700; /* Puedes ajustar el grosor de la fuente */
  }
/* Estilo para el contenedor del asistente */
#asistente-container {
    position: fixed;
    top: 100px;
   
    right: 0;
    width: 300px;
    height: 300px;
    background-color: #b33636;
    border-left: 1px solid #cccccc;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none; /* Inicialmente oculto */
    z-index: 1000; /* Coloca el cuadro por encima de otros elementos */z-index: 1000; /* Coloca el cuadro por encima de otros elementos */
    border-radius: 10px; /* Añade esquinas redondeadas */  
}


  /* Estilo para el botón de mostrar/ocultar asistente */
  #mostrar-asistente-btn {
    position: fixed;
    bottom: 400px;
    right: 80px; /* Ajusta la posición según tus preferencias */
    width: 50px;
    height: 50px;
    background-color: #182736;
    color: #fff;
    border: none;
    border-radius: 50%; /* Hace que el botón sea circular */
    cursor: pointer;
    z-index: 999; /* Coloca el botón por encima del cuadro del asistente */
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  /* Estilo para el área del chat */
  #asistente-messages {
    height: 150px;
    overflow-y: scroll;
  }

  /* Estilo para el botón de cerrar */
  #cerrar-asistente-btn {
    background-color: #d9534f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
